/* FollowersList.css */
.followers-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.followers-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.btn-close {
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.btn-close:focus,
.btn-close:active {
  outline: none;
  box-shadow: none;
}

.followers-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px; /* Adjust this as needed */
  overflow-y: auto;
}

.follower-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.list-item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: rgb(87, 87, 87);
}
