/* Profile.css */
.border-info {
  border-radius: 5px;
}

.profile-pic {
  width: 100%;
}

.post-item-square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.modal-content {
  margin-top: 20%;
}

.post-image-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.post-item-square:hover .overlay {
  opacity: 1;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px; /* Adjust size as needed */
  color: white; /* Change color if necessary */
  opacity: 0.8; /* Optional for slight transparency */
}