/* Profile.css */

.container {
  background-color: rgb(235, 235, 235);
  padding: 1rem;
}

.border-info {
  border-radius: 5px;
}

.profile-pic {
  width: 100%;
}

.post-item-square {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.modal-content {
  margin-top: 30%;
}

.post-image-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.post-item-square:hover .overlay {
  opacity: 1;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px; /* Adjust size as needed */
  color: white; /* Change color if necessary */
  opacity: 0.8; /* Optional for slight transparency */
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 100% !important;
    padding: 1rem;
  }

  .profile-pic {
    width: 140px;
    height: 140px;
  }

  .stats-counts span {
    margin: 0.5rem 0;
  }

  .post-item-square {
    width: 100%;
    padding-bottom: 100%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px
  }
}

@media (max-width: 576px) {
  .profile-pic {
    width: 140px;
    height: 140px;
  }

  h1 {
    font-size: 1.5rem;
  }
  .stats-counts span {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .profile-pic {
    width: 140px;
    height: 140px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .stats-counts span {
    font-size: .8rem;
  }
}